{#
 # File: /404.twig
 # Project: _juststart
 # Version: 1.0.0
 # Created Date: Sunday, June 6th 2021, 13:02:00
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Sunday, June 6th 2021 19:13:29
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2021 justDev
 # 
 # 404
 # 
 #}

<section class="d-flex align-items-center mt-5 mb-5">
	<div class="container flex-column h-100">
		<div class="row content">
			<div class="col-md-8 m-auto text-center">
				<h1 class="title">
					404
				</h1>
				<h2 class="headline--H2">
					{{
						__('The link is broken or the page has been moved.', '_juststart')
					}}
				</h2>
			</div>
		</div>
	</div>
</section>
