{#
 # File: /default.twig
 # Project: _juststart
 # Version: 1.0.0
 # Created Date: Tuesday, June 1st 2021, 0:47:38
 # Author: Kirill Dorozhynskyi - kirilldy@justdev.org
 # -----
 # Last Modified: Tuesday, June 1st 2021 20:01:24
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2021 justDev
 # 
 # Information
 # 
 #}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ post.content }}
            </div>
        </div>
    </div>
</section>
